@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    @apply bg-slate-100 text-gray-900 overflow-x-hidden w-screen;
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */
  }
  
  .dark{
    @apply text-gray-200 bg-gradient-to-bl bg-gradient-to-bl from-gray-700 from-30% via-cyan-900 to-70% to-gray-700 to-70%
  }

  
  .volume-slider::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 100%;
    height: 8px;
    border-radius: 10px;
    background-color: #94a3b8;
  }

  .dark .volume-slider::before {
    background-color: rgb(229 231 235);
  }

}

